.tags-block {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
}

.add-tag-button {
    align-content: flex-end;
    cursor: pointer;
    display: flex;

    background-color: $grey-03;
    border-radius: 14px;
    color: $grayer;
    margin: 0;
    padding: 0.25rem 1rem 0.25rem 0.6rem;

    &:hover {
        color: $text-hover;
    }
    .icon-add {
        fill: currentColor;
        margin-right: 0.25rem;
    }
    .add-tag-text {
        font-size: 0.9375rem;
    }
}
