.profile-content-tabs {
    z-index: 9;
    .tab {
        color: $gray-light;
        display: inline-block;
        padding: 1rem;
        border-radius: 6px 6px 0 0;
        &:hover,
        &.active {
            color: $gray;
            transition: color 0.2s linear;
        }
        &.active {
            background: $text-hover;
            box-shadow: 0 4px 12px transparentize($text-hover, 0.4);
            position: relative;
            top: 1px;
            transition: color 0.2s linear;
            color: $white;
            .icon {
                fill: $white;
                stroke: $white;
            }
        }
    }
    .icon {
        fill: $grey-40;
        height: 0.8rem;
        margin-right: 0.5rem;
        stroke: $grey-40;
        transition: fill 0.2s linear;
    }
}
