.move-to-sprint-button {
    color: $white;
    &:not(.disabled) {
        cursor: pointer;
        &:hover {
            color: $text-hover;
        }
    }
    &.disabled {
        opacity: 0.5;
        &:hover {
            color: $white;
        }
    }
}
