.wysiwyg-help {
    background: $mass-white;
    display: flex;
    justify-content: space-between;
    margin-top: -0.5rem;
    padding: 0.45rem 0.5rem;
    a {
        display: inline-block;
    }
}

.drag-drop-help {
    @include font-size(xsmall);
    color: $gray;
}

.help-markdown,
.help-button {
    @include font-size(xsmall);
    &:hover {
        span {
            transition: color 0.2s linear;
        }
        .icon {
            fill: $text-hover;
            transition: fill 0.2s linear;
        }
    }
    span {
        vertical-align: text-top;
    }
    .icon {
        @include svg-size(0.9rem);
        fill: $gray-light;
        margin-right: 0.2rem;
    }
}
