@mixin estimation {
    .points-per-role {
        display: flex;
        flex-direction: column;
    }
    .ticket-role-points {
        background: rgba($gray-lighter, 0.05);
        color: rgba($white, 0.6);
        display: flex;
        flex: 1;
        justify-content: space-between;
        margin-bottom: 2px;
        min-height: 2rem;
        padding: 0.5rem 1rem;
        position: relative;
        border-radius: 6px;

        &.clickable {
            &:hover,
            &.active {
                background: rgba($gray-lighter, 0.2);
                .points,
                .role,
                .icon-arrow-bottom {
                    color: currentColor;
                    fill: currentColor;
                }
            }
        }
        &:last-child {
            background: rgba($gray-lighter, 0.1);
            border-bottom: 0;
            color: $white;
            .points,
            .role,
            .icon-arrow-bottom {
                @include font-type(text);
                color: currentColor;
                fill: currentColor;
            }
        }
        .icon-arrow-down {
            fill: currentColor;
            height: 0.6rem;
            margin-left: 0.25rem;
            width: 0.6rem;
        }
        .points {
            @include font-type(light);
            color: rgba($white, 0.6);
        }
        .role {
            @include font-type(light);
        }
    }
    .popover {
        @include popover(
            200px,
            $top: 100%,
            $left: 0.5rem,
            $arrow-width: 10px,
            $arrow-top: -5px,
            $arrow-left: 10px,
            $arrow-height: 10px
        );
        li {
            display: inline-block;
            width: 23%;
        }
        a {
            display: block;
            text-align: center;
            &:hover,
            &.active {
                background: $text-hover;
                color: $white;
            }
        }
        &.fix {
            @include popover(
                200px,
                $top: 100%,
                $left: -160px,
                $arrow-width: 10px,
                $arrow-top: -5px,
                $arrow-left: 90%,
                $arrow-height: 10px
            );
        }
    }
}

.ticket-estimation {
    @include estimation;
}
