@import '../../../styles/dependencies/mixins/project-card';

.home-project {
    @include project-card;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: 0;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s;
    &:hover {
        box-shadow: 0 4px 12px transparentize($text-hover, 0.4);
    }
    &.blocked-project {
        border: $whitish;
        &:hover {
            border: $whitish;
            box-shadow: none;
        }
        .tags-container,
        .project-card-logo,
        .project-card-name a,
        .project-card-description,
        .project-card-statistics {
            opacity: 0.3;
        }
    }
}

.projects-empty {
    text-align: center;
    svg {
        fill: $whitish;
        height: 100px;
        margin: 1rem auto;
        text-align: center;
        width: 100%;
    }
    p {
        @include font-size(small);
        @include font-type(light);
    }
    .create-project-button {
        display: block;
        margin-bottom: 0.25rem;
    }
    .import-project-button {
        display: block;
    }
}
