.admin-submenu {
    li {
        @include font-type(text);
        &:last-child {
            border-bottom: 0;
        }
    }
    ul {
        a {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            span {
                display: block;
                max-width: 85%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    input {
        margin: 0 1rem;
        width: 85%;
    }
    .button-gray {
        display: flex;
        justify-content: center;
        margin: 0 1rem;
        padding: 0.5rem 0;
        text-align: center;
        &:hover {
            background-color: $blackish;
        }
    }
}
