.search-filter {
    display: flex;
    margin-bottom: 0;
    z-index: 9;
    a {
        color: $gray-light;
        display: inline-block;
        padding: 1rem 1.25rem;
        border-radius: 6px 6px 0 0;
        &:hover {
            transition: color 0.3s linear;
            background: $text-hover;
            box-shadow: 0 4px 12px transparentize($text-hover, 0.4);
            color: $white;

            .name {
                padding-left: 5px;
            }
            .icon {
                fill: currentColor;
            }
        }
        &.active {
            background: $text-hover;
            box-shadow: 0 4px 12px transparentize($text-hover, 0.4);
            color: $white;
            position: relative;

            .icon {
                fill: $white;
            }
        }
    }
    .icon {
        fill: currentColor;
        margin-right: 0.4rem;
    }
    .name {
        padding-left: 5px;
    }
}
