// scss-lint:disable SelectorFormat, QualifyingElement

.introjs-overlay {
    background: radial-gradient(
        center,
        ellipse cover,
        rgba($white, 0.2) 0,
        rgba($whitish, 0.2) 100%
    );
    background-color: $whitish;
}
.introjs-helperLayer {
    border: 1px solid rgba($text-hover, 0.8);
    box-shadow: 0 0 6px $text-hover;
    background: none;
}

.introjs-helperLayer,
.introjs-tooltip {
    box-shadow: 0 0 6px $text-hover;
}

.introjs-tooltip {
    h3 {
        @include font-size(large);
        margin-bottom: 0.5rem;
    }
    p {
        @include font-type(light);
        line-height: 1.4;
        margin-bottom: 0;
    }
}

.introjs-bullets {
    ul {
        li {
            a.active {
                background: $text-hover;
            }
        }
    }
}

.introjs-button {
    background-color: $primary;
    background-image: none;
    border: 0;
    border-radius: 0;
    color: $white;
    margin-top: 10px;
    padding: 0.3rem 0.8rem;
    text-shadow: none;
    &:focus,
    &:hover {
        background: none;
        background-color: $text-hover;
        color: $white;
    }
    &.introjs-disabled {
        background: $mass-white;
        background-color: none;
        color: $white;
    }
}
