//************************
//** COLORS
//************************
$body: #f3f4f9;
$primary: #0d153c;
$primary-75: #64d9d7;
$primary-50: #67eeec;
$primary-25: #a6ebe9;
$primary-10: #eeeef5;
$text-hover: #1a83ff;

$secondary: #00df9c;
$secondary-75: #2ad8a4;
$secondary-50: #6ed1b3;
$secondary-25: #abdbcd;

$tertiary: #f5f7fb;

$red: #ff4651;
$red-25: #f88088;
$red-10: #f7cdd0;

$grey-02: #f3f4f9;
$grey-03: rgba(0, 17, 90, 0.05);
$grey-05: #e4e4f5;
$grey-10: #e2e3e9;
$grey-20: #c6c6d4;
$grey-30: #a9aabc;
$grey-40: #8d8ea5;
$grey-50: #70728f;
$grey-60: #5a5b72;
$grey-70: #434456;
$grey-80: #2d2d39;
$grey-90: #16171d;

// Color aliases for retrocompatibility
$black: #000;
$blackish: $grey-90;
$grayer: $grey-70;
$gray: $grey-60;
$gray-light: $grey-50;
$gray-lighter: $grey-30;
$whitish: $grey-10;
$mass-white: $grey-05;
$white: #fff;

// Primary colors
$primary-light: $primary-75;
$primary-lighter: $primary-10;
$primary-dark: $primary-50;
$primary-background: $primary-25;

// Secondary colors
$secondary-light: $secondary-50;
$secondary-dark: #91b011;

//Status colors
$green-light: #d1dfc5;
$red-light: lighten($red, 12%);
$my-sin: #fcaf3e;
$yellow-green: #9dce0a;

//Card color
$card: #fff8e4;
$card-hover: #f1e8cd;
$card-dark: #cfc29b;

$green-japanese-laurel: #007eff;
$green-olive: #849def;
$red-amaranth: #ae8af2;
$purple-eggplant: #b59ddb;
$yellow-pear: #64d9d7;

$tribe-primary: #ae8af2;
$tribe-secondary: darken($tribe-primary, 10%);

$top-icon-color: #11241f;
$dropdown-color: rgba(darken($grayer, 20%), 1);
$code-bg: #272822;
